<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gz0101.hzwy.hourglass">

    <application
        android:name="debug.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_name"
        android:supportsRtl="true"
        android:theme="@style/HourglassTheme">
        <activity
            android:name=".ui.HourglassActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.HourglassSearchActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>