<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gz0101.hzwy.receipt">

    <application
        android:theme="@style/PlaceMainTheme"
        android:name="debug.MainApplication"
        tools:replace="android:theme"
        android:allowBackup="true">
        <activity
            android:name=".activity.PlaceReceiptActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddNewPlaceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
    
</manifest>