<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gz0101.hzwy.common">

    <application>
        <activity
            android:name=".ui.TakePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddressEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddressListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>